@use "../../styles/variables.scss" as *;
@use "../../styles/typography.scss" as *;

.forecast {
    width: 95vw;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;

    &__image {
        width: 3rem;
        height: 3rem;
    }
}