@use "../../styles/variables.scss" as *;
@use "../../styles/typography.scss" as *;

.forecast {
    width: 90vw;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    border: 1px solid $color-dark-gray;
    border-radius: 1rem;
    margin: 0.5rem 0;
    &__imageContainer {
        &--icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__date {
        &--day {
            font-size: 0.9rem;
            font-family: $font-roboto;
        }
    }
    &__temp {
        font-size: 0.9rem;
        font-family: $font-roboto;
    }
    &__text {
        font-size: 0.9rem;
        font-family: $font-roboto;
    }
}