@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Raleway:wght@100;300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

$font-roboto: 'Roboto Condensed', sans-serif;
$font-Raleway: 'Raleway', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;