@use "../../styles/variables.scss" as *;
@use "../../styles/typography.scss" as *;

.home {
    background-color: $color-background;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem 2rem;
    &__dashboard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }
    &__greeting{
        font-family: $font-Raleway;
        font-size: 2rem;
        font-weight: 700;
        color: $color-secondary;
    }
    &__heading {
        font-family: $font-Raleway;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 2rem 0 0.5rem 0;
    }
    &__hourForecast {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        flex-wrap: wrap;
    }
}